
<div class="d-flex justify-content-center align-items-center head">
    <svg class="head-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="black" points="0,0 0,50 100,0"/>
    </svg>
  
    <svg class="head-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#D2EAEC" points="0,100 0,50 100,100"/>
    </svg>
    <div class="head-content text-start">
      <h1 class=""> {{ title }} </h1>
    </div>
    <!-- 
    <svg class="head-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#D2EAEC" points="0,100 100,50 100,100"/>
    </svg> -->
</div>

<div class="container-fluid m-0 px-0 px-md-2 px-lg-3 px-xxl-5 account-row-style">
  <div class="container-fluid px-0 px-md-2 px-lg-3 px-xxl-5 account-row-style">

