

<div class="container-fluid d-flex flex-column justify-content-start justify-content-lg-center p-0 bg-dark hero-bg overflow-hidden">
    <div class="container-fluid d-flex flex-column w-100 hero-container">

        <div class="container w-75 mt-1">
            <h1 class="container display-1 m-0 text-center text-md-start hero-header">Welcome</h1>
        </div>
        <div class="container w-100 my-3">
            <p class="display-6 text-center text-md-start text-dark fs-3 hero-text">
                To more fully clarify the current exchange a few aggregate issues will require addressing to facilitate this distributed communication venue.
            </p>
        </div>
    </div>
    <div class="d-none d-lg-block hero-shapes" id="heroShapes"></div>
</div>
