{% extends "base.html" %}
{% set active_page = "index" %}


{% block content %}

{% include "hero.html" %}

<div class="container-fluid d-flex flex-column flex-sm-row p-0 m-0" id="aboutus">
  <div class="container container-fluid m-0 p-0">
    <img src="{{ url_for('static', filename='images/img-greg-trowman-jsuWg7IXx1k-unsplash.jpg') }}" class="img-fluid" alt="About Us Image - Greg Trowman">
  </div>
  <div class="container d-flex flex-column justify-content-center align-items-center px-0 py-3">
    <div class="container-md w-75 px-1 px-md-2 py-2 text-start">
      <h2>About Us</h2>
      <p>Perhaps a re-engineering of your current world view will re-energize your online nomenclature to enable a new holistic interactive enterprise internet communication solution. </p>
      <p>Fundamentally transforming well designed actionable information whose semantic content is virtually null. </p>
    </div>
  </div>
</div>

<div class="container-fluid d-flex flex-column flex-sm-row-reverse m-0 p-0" id="services">
  <div class="container container-fluid m-0 p-0">
    <img src="{{ url_for('static', filename='images/img-adam-winger-fI-TKWjKYls-unsplash.jpg') }}" class="img-fluid" alt="Services Image - Adam Winger">
  </div>
  <div class="container d-flex flex-column justify-content-center align-items-center px-0 py-1">
    <div class="container-md w-75 py-2 text-center">
      <h2>Services</h2>
      <p class="d-none d-lg-block">Empowerment in information design literacy demands the immediate and complete disregard of the entire contents of this cyberspace communication.</p>

      <div class="text-end align-self-end my-4 border-line">
        <h4>Hair cutting, coloring & styling</h4>
        <h4>Facials & Skin Care Treatments</h4>
        <h4>Waxing & Other Hair Removal</h4>
        <h4>Manicures & Pedicures</h4>
      </div>
      <p class="text-center small"><em>
        Here is a spot for something else, too. Here is a <a href="#">random link</a> that doesn't work.
      </em></p>
    </div>
  </div>


</div>






<script>

    // Scroll Hero Shapes
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("heroShapes").style.width = "125%";
            document.getElementById("heroShapes").style.left = "-200px";
        } else {
            document.getElementById("heroShapes").style.width = "100%";
            document.getElementById("heroShapes").style.left = "0";

        }
    }
</script>


{% endblock content %}

<!--
      <p>Implementing these goals requires a careful examination to encompass an increasing complex out sourcing disbursement to ensure the extant parameters are not exceeded while focusing on infrastructure cohesion. </p>
<p>Upscaling the resurgent networking exchange solutions, achieving a breakaway systemic electronic data interchange system synchronization, thereby exploiting technical environments for mission critical broad based capacity constrained systems. </p>
<p>Dynamic demand forecasting indicates that a mainstream approach may establish a basis for leading-edge information processing to insure the diversity of granularity in encompassing expansion of content provided within the multimedia framework under examination. </p>
<p>In integrating non-aligned structures into existing legacy systems, a holistic gateway blueprint is a backward compatible packaging tangible of immeasurable strategic value in right-sizing conceptual frameworks when thinking outside the box. </p>
<p>This being said, the ownership issues inherent in dominant thematic implementations cannot be understated vis-a vis document distribution on a real operating system consisting primarily of elements regarded as outdated and therefore impelling as a integrated out sourcing avenue to facilitate multi-level name value pairing in static components. </p>
<p>In order to properly merge and articulate these core assets, an acquisition statement outlining the information architecture, leading to a racheting up of convergence across the organic platform is an opportunity without precedent in current applicability transactional modeling. </p>
<p>Implementing these goals requires a careful examination to encompass an increasing complex out sourcing disbursement to ensure the extant parameters are not exceeded while focusing on infrastructure cohesion. </p>

-->