
<table class="table my-0 p-0 appointment-list-height " id="appointmentsTable">
    <thead class="bg-white">
        <tr>
            <th scope="col" class="ps-4">Day</th>
            <th scope="col" onclick="sortTable(1)" style="cursor: pointer;">Date</th>
            <th scope="col" >Time</th>
            <th scope="col" onclick="sortTable(3)" style="cursor: pointer;" class="ps-3">Client</th>
            <th scope="col" class="text-center">Status</th>
        </tr>
    </thead>
    <tbody class="overflow-scroll" id="appointments-searchable">


        